<% if (site.footerLinks.dribbble) { %><a href="https://dribbble.com/<%= site.footerLinks.dribbble %>"><i class="svg-icon dribbble"></i></a><% } %>
<% if (site.footerLinks.email) { %><a href="mailto:<%= site.footerLinks.email %>"><i class="svg-icon email"></i></a><% } %>
<% if (site.footerLinks.facebook) { %><a href="https://www.facebook.com/<%= site.footerLinks.facebook %>"><i class="svg-icon facebook"></i></a><% } %>
<% if (site.footerLinks.flickr) { %><a href="https://www.flickr.com/<%= site.footerLinks.flickr %>"><i class="svg-icon flickr"></i></a><% } %>
<% if (site.footerLinks.github) { %><a href="https://github.com/<%= site.footerLinks.github %>"><i class="svg-icon github"></i></a><% } %>
<% if (site.footerLinks.instagram) { %><a href="https://instagram.com/<%= site.footerLinks.instagram %>"><i class="svg-icon instagram"></i></a><% } %>
<% if (site.footerLinks.linkedin) { %><a href="https://www.linkedin.com/in/<%= site.footerLinks.linkedin %>"><i class="svg-icon linkedin"></i></a><% } %>
<% if (site.footerLinks.pinterest) { %><a href="https://www.pinterest.com/<%= site.footerLinks.pinterest %>"><i class="svg-icon pinterest"></i></a><% } %>
<% if (site.footerLinks.rss) { %><a href="/feed.xml"><i class="svg-icon rss"></i></a><% } %>
<% if (site.footerLinks.twitter) { %><a href="https://www.twitter.com/<%= site.footerLinks.twitter %>"><i class="svg-icon twitter"></i></a><% } %>
<% if (site.footerLinks.stackoverflow) { %><a href="http://stackoverflow.com/<%= site.footerLinks.stackoverflow %>"><i class="svg-icon stackoverflow"></i></a><% } %>
<% if (site.footerLinks.youtube) { %><a href="https://youtube.com/<%= site.footerLinks.youtube %>"><i class="svg-icon youtube"></i></a><% } %>
<% if (site.footerLinks.googleplus) { %><a href="https://plus.google.com/<%= site.footerLinks.googleplus %>"><i class="svg-icon googleplus"></i></a><% } %>