<!DOCTYPE html>
<html>
<head>
    <title><% if (title) { %><%= title %> – <% } %><%= site.name %><% if (site.description) { %> – <%= site.description %><% } %></title>

    <%- partial("_shared/_meta") %>

    <link href="https://fonts.googleapis.com/css?family=Catamaran:300,400,700|Rokkitt:300,400,700" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="css/newtheme.css" />
    <link rel="alternate" type="application/rss+xml" title="<%= site.name %><% if (site.description) { %> – <%= site.description %><% } %>" href="/feed.xml" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>

    <header id="page-header" class="header">
        <a href="/" id="headshot">
            <img src="/images/headshot.jpg" />
        </a>

        <div id="site-info">
            <h1 class="site-name"><a href="/"><%= site.name %></a></h1>
            <% if (site.description) { %><p class="site-description"><%= site.description %></p><% } %>
        </div>

        <!--
        <nav id="header-nav">
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        -->
    </header>

    <main class="body"><%- yield %></main>

    <footer id="page-footer" class="footer">
        <!--
        <nav id="footer-nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="services.html">Gallery</a></li>
            </ul>
        </nav>
        -->
        <p>&copy; 2017 Johanna Evelyn</p>
        <nav id="footer-social-nav">
            <%- partial("_shared/_svg-icons") %>
        </nav>
    </footer>
</body>
</html>
